@charset "utf-8";
/* CSS Document */

.snail{
	padding-left: 5%;
}

.italic{
	font-style:italic;
	padding-left: 5%;
}

h1 { 
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 36px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	padding-left: 5%;
}

h2 { 
	font-family: 'Noto Sans Display', sans-serif; 
	font-size: 30px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	padding-left: 7%;
} 

h3 { 
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	padding-left: 5%;
} 

p { 
	font-family: 'Noto Sans Display', sans-serif;
	font-size: 22px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400;
	padding-left: 7%;
	padding-right:10%;
}

section{
	width: 65%;
}

@media screen and (max-width: 600px) {
	p{
		font-size: 16px;
	}
	section{
		width: 100%;
	}
}
